.card .imgDiv-red {
  height: 220px;
  background-color: red
}

.card .imgDiv-default {
  height: 220px;
  background-color: grey
}

.card .imgDiv-blue {
  height: 220px;
  background-color: blue
}

.card .imgDiv-green {
  height: 220px;
  background-color: green
}

.card .imgDiv-purple {
  height: 220px;
  background-color: purple
}

.card .imgDiv-orange {
  height: 220px;
  background-color: orange
}
