.centerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.backImgLogo {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 15px solid rgb(255, 255, 255);
  box-shadow: 0 0 50px rgb(9, 84, 8), inset 0 0 50px rgb(9, 84, 8);
  filter: url(#wavy);
}

.mySvg {
  width: 0;
  height: 0;
}
