#main-header {
    background-color: #FFB7A6;
    font-size: 20px;
    padding-bottom: 70px;
}

.container{
    overflow: hidden;
    
}

.container2{
    overflow: hidden;
    height: 400px;
    display: flex;
    flex-direction: row;
}

#leftSide{
    flex: 0 1 auto;
    background: #F587F3;
 
}

#rightSide{
    width: 100px;
    background: #B2FFF8;
    
}

#main-content {
    flex: 1 0 auto;
    background: #FFF684;
   
}

#footer {
    width: auto;
    background: #C379FF;
    padding: 5px;
}